body {
    font-family: "Roboto", sans-serif;
    color: #263038;
    line-height: 1.7;
}

html, body {
    height: 100%;
}

#upper-corner {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 200px 50px 0 0;
    border-color: #ff6840 transparent transparent transparent;
}

#lower-corner {
    position: relative;
    top: -200px;
    margin-bottom: -200px;
    float: right;
    width: 50px;
    border-style: solid;
    border-width: 0 0 200px 50px;
    border-color: transparent transparent #263038 transparent;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}
